<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>


    <!--Redis服务器地址-->
    <add key="RedisServiceUrl" value="127.0.0.1" />
    <add key="RedisServicePortNum" value="6379" />
  </appSettings>
  <connectionStrings>
    <!--169.254.86.153-->
    <add name="ConnectionString" connectionString="server=127.0.0.1;database=HanXingExamDb;uid=sa;pwd=Lc19951127.;" />
  </connectionStrings>
</configuration>