
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>翰星考试平台首页</title>
    <link rel="icon" href="~/Content/images/favicon.ico" mce_href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" mce_href="~/Content/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/res/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/res/static/css/mian.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.1.1.js"></script>
</head>
<body class="lay-blog">
    <div class="header">
        <div class="header-wrap">
            <h1 class="logo pull-left">
                <a href="/Exam/Index">
                    <img src="~/Content/res/static/images/logo.png" class="logo-img" />
                </a>
            </h1>
            <div class="blog-nav pull-right">
                <ul class="layui-nav pull-left">
                    <li class="layui-nav-item layui-this"><a href="/Exam/Index">首页</a></li>
                    <li class="layui-nav-item"><a href="/Exam/Online">在线考试</a></li>
                    <li class="layui-nav-item"><a href="/Exam/History">历史试卷</a></li>
                    <li class="layui-nav-item"><a href="/Exam/WaitTest">查看待考信息</a></li>
                </ul>
                <span class="personal pull-left" style="font-size:12px;color:#fff;">@ViewBag.Student.StudentName&nbsp;&nbsp;</span>
                <a href="/Students/LogOut" class="personal pull-left">
                    <img src="~/Content/images/door.png" style="width:20px;height:20px;" />
                </a>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="container">
            <div class="contar-wrap">
                <h4 class="item-title">
                    <p><i class="layui-icon layui-icon-speaker"></i>欢迎来到翰星考试系统</p>
                </h4>
                <div class="item">
                    <div class="item-box  layer-photos-demo1 layer-photos-demo">
                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="5" style="text-align: left" valign="top">
                                    <h2>考试规则</h2>
                                    <br />
                                    <p>1.不得携带笔记、便携式计算机、书包或其他物品进入考场。请将这些物品交给考试管理员妥善保管。</p>
                                    <p>2.考场内请保持安静，不得交谈和走动。</p>
                                    <p>3.不得参阅其他人屏幕上的答题，不得参阅笔记及任何资料。</p>
                                    <p>4.如有任何疑问，请暂停考试、举手示意管理员解决。</p>
                                    <p>5.若出现意外情况（如停电、机器故障等），请立即示意管理员解决。</p>
                                    <p>6.不得以任何方式将考题内容带出考场。</p>
                                    <p>7.凡有违反上述规定中的任何一条者，考场管理员有权提出警告直至终止其考试、取消其考试成绩和考试资格。</p>
                                    <p>8.任何人都有权利和义务维护认证考试的公平性和公正性，举报一切违反考场规则的行为。</p>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            <span>&copy; 2018</span>
            <span>深圳创业网络文化科技有限公司</span>
        </p>
        <p><span>人生就是一场修行</span></p>
    </div>
    <script src="~/Content/res/layui/layui.js"></script>
    <script src="~/Content/res/static/js/blog.js"></script>
</body>
</html>